name: Testes Automatizados Python

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest 

    steps:
    - name: Baixar o código do repositório
      uses: actions/checkout@v3

    - name: Configurar o Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install flask sqlalchemy psycopg2-binary python-dotenv flask-cors bcrypt pytest

    - name: Rodar os testes com Pytest
      env:
        DATABASE_URL: "sqlite:///:memory:" 
      run: |
        pytest -v